.Header{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color:black;
 
}
.search-btn {
    height: 36px;
    width: 600px;
    background-color: white;
    /* margin-left: 50px; */
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}