/* Counter.css */
.counter {
    text-align: center;
    margin: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button.GreenButton {
    background-color: #4CAF50;
  }
  
  button.RedButton {
    background-color: #f44336;
  }
  
  button.yellowButton {
    background-color: #FFEB3B;
    color: black;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  