.add-button {
    padding: 14px 28px;
    background-color: #ff9900;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(255, 153, 0, 0.4);
}

.add-button:hover {
    background-color: #cc7a00;
    box-shadow: 0px 6px 12px rgba(255, 153, 0, 0.6);
    transform: scale(1.05);
}
