/* .rating-btn {
    background-color: gold;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  } */
  .rating-btn {
    width: 90px;
    margin-left: 9px;
    padding: 5px 10px;
    border: none;
    background-color: #ffcc00;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .rating-btn:hover {
    background-color: #ffdb4d;
  }
  
  